In [10]:
import ibm_db

In [11]:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "dng16088"        # e.g. "abc12345"
dsn_pwd = "wc1gwp+jfds3q3lx"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [13]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL=Share{4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=ShareTCPIP;UID=dng16088;PWD=wc1gwp+jfds3q3lx;

In [25]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Unable to connect:  [IBM][CLI Driver] SQL1013N  The database alias name or database name "" could not be found.  SQLSTATE=42705 SQLCODE=-1013

In [19]:
SQLSTRING = """CREATE TABLE TRUCKS(
    serial_no varchar(20) PRIMARY KEY NOT NULL,
    model VARCHAR(20) NOT NULL,
    manufacturer VARCHAR(20) NOT NULL,
    Engine_size VARCHAR(20) NOT NULL,
    Truck_Class VARCHAR(20) NOT NULL
    )"""

In [20]:
ibm_db.exec_immediate(conn, SQLSTRING)

NameError: name 'conn' is not defined

In [ ]:
def drop():
    dropSql = "DROP TABLE TRUCK"
    ibm_db.exec_immediate(conn, dropSql)

In [ ]:
stmt = ibm_db.exec_immediate(conn, "INSERT INTO Trucks(serial_no, model,manufacturer,Engine_size,Truck_Class) VALUES('A1234', 'Lonestar', 'International Trucks', 'Cummings Barnard A1A', 'Class 8');")

In [ ]:
stmt

In [ ]:
ibm_db.exec_immediate(conn, "SELECT * FROM TRUCKS")